{% extends 'main.html' %}
{% load static }
{% load math_tags %}

{% block content %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <h1>Metode AHP</h1>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kriteria</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Bobot</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Bobot Normal</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Aksi</h6></th>
                                  </tr>
                                </thead>
                                <tbody>

                                  {% for k in kriteria %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ k.name }}</td>
                                    <td>{{ k.bobotkriteria.bobot }}</td>
                                    <td>{% devide_values k.bobotkriteria.bobot bobot_max %}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                          </svg>
                                        </a>
                                    </td>
                                  </tr>

                                  {% endfor %}
                                  
                                </tbody>
                              </table>
                        </div>
                    </div>

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="h3 mb-2 text-gray-800">Data</h1>
                            <table class="table text-center">
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <!-- <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Alternatif</h6></th> -->
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kelengkapan Fitur</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kemudahan Penggunaan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Keamanan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Biaya</h6></th>
                                  </tr>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Alternatif</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Benefit</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Benefit</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Benefit</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Cost</h6></th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>

                                <tbody>

                                  {% for p in penilaian %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ p.alternatif.name }}</td>

                                    <td>{{ p.kelengkapan_fitur }}</td>
                                    <td>{{ p.kemudahan_penggunaan }}</td>
                                    <td>{{ p.keamanan }}</td>
                                    <td>{{ p.biaya }}</td>

                                </tr>

                                {% endfor %}

                                <tr>
                                    <td colspan="2"><h6 class="m-0 font-weight-bold text-primary">Nilai Max / Min</h6></td>
                                    <td>{{ kf_max }}</td>
                                    <td>{{ kp_max }}</td>
                                    <td>{{ k_max }}</td>
                                    <td>{{ b_max }}</td>
                                </tr>
                                  
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="h3 mb-2 text-gray-800">Matriks Perbandingan Pasangan</h1>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kriteria</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kelengkapan Fitur</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kemudahan Penggunaan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Keamanan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Biaya</h6></th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kelengkapan Fitur</h6></th>
                                    <td>1</td>
                                    <td>0.33333333</td>
                                    <td>0.2</td>
                                    <td>0.33333333</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kemudahan Penggunaan</h6></th>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0.33333333</td>
                                    <td>0.25</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Keamanan</h6></th>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0.2</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Biaya</h6></th>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td ><h6 class="m-0 font-weight-bold text-primary">Jumlah</h6></td>
                                    <td>12</td>
                                    <td>8.33333333</td>
                                    <td>6.53333333</td>
                                    <td>1.78333333</td>
                                </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="h3 mb-2 text-gray-800">Matriks Nilai Kriteria</h1>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kriteria</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kelengkapan Fitur</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kemudahan Penggunaan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Keamanan</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Biaya</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Jumlah</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Prioritas</h6></th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Eigen Value</h6></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kelengkapan Fitur</h6></th>
                                    <td>0.08</td>
                                    <td>0.04</td>
                                    <td>0.03</td>
                                    <td>1.9</td>
                                    <td>2.05</td>
                                    <td>0.5125</td>
                                    <td>6.15</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Kemudahan Penggunaan</h6></th>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0.33333333</td>
                                    <td>0.25</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Keamanan</h6></th>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>0.2</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <th scope="col"><h6 class="m-0 font-weight-bold text-primary">Biaya</h6></th>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>1</td>
                                </tr>
                            
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

{% endblock content %}